<template>
  <div class="timezone-timeline-slot" @mousemove="hover">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: "TimeLineSlot",
  props: {
    timestamp: {
      type: String
    },
    offsetToFullHour: {
      type: Number
    }
  },
  methods: {
    hover(e) {
      const rect = e.currentTarget.getBoundingClientRect();
      const minutes =
        ((e.pageX - rect.left) / rect.width) * 60 - this.offsetToFullHour;
      this.$store.commit("timezones/updateHover", {
        timestamp: this.timestamp,
        minutes,
        posX: e.pageX
      });
    }
  }
};
</script>
<style>
.timezone-timeline-slot {
  display: flex;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  font-size: 0.5rem;
  align-items: center;
  width: 32px;
  justify-content: center;
}
</style>
