<script>
import moment from "moment-timezone";
import TimeZone from "@/components/TimeZones/TimeZone";
import { mapGetters } from "vuex";
import TimeLineSlot from "@/components/TimeZones/TimeLineSlot";
import TimeZoneHeader from "@/components/TimeZones/TimeZoneHeader";

export default {
  components: {
    TimeZoneHeader,
    TimeLineSlot,
    TimeZone
  },
  props: {
    tanuki: {
      type: Object
    }
  },
  computed: {
    ...mapGetters({
      timeSlots: "timezones/timeSlots",
      offset: "timezones/currentOffset"
    }),
    currentClass() {
      return {
        "timezone-entry": true,
        "timezone-entry__you": this.tanuki.offset === this.offset
      };
    },
    TZ() {
      return this.tanuki.TZ;
    },
    fullHourOffset() {
      return Math.abs(this.tanuki.offset % 60);
    }
  },
  methods: {
    workhours(slot) {
      const hour = moment.tz(slot, this.TZ).hour();
      return `timezone-offset-${hour}`;
    }
  }
};
</script>
<template>
  <time-zone :class="currentClass">
    <template v-slot:header>
      <TimeZoneHeader :tanuki="tanuki" />
    </template>
    <template v-slot:timeline>
      <div
        class="timezone-entry-wrapper"
        :class="'timezone-timeline-' + fullHourOffset"
        :style="{
          width: (timeSlots.length - 1 + fullHourOffset / 60) * 32 + 'px'
        }"
      >
        <TimeLineSlot
          v-for="slot in timeSlots"
          :key="slot"
          :timestamp="slot"
          :offsetToFullHour="fullHourOffset"
        >
          <div class="timezone-timeline-block" :class="workhours(slot)" />
        </TimeLineSlot>
      </div>
    </template>
  </time-zone>
</template>
<style>
.timezone-entry {
  height: 5rem;
}

.timezone-entry__you {
  background: #fffaf4;
}

.timezone-entry__hover {
  background: #fbe5e1;
}

.timezone-entry-wrapper {
  display: flex;
  height: 100%;
}

.timezone-timeline-0 {
  margin-left: -2rem;
}

.timezone-timeline-15 {
  margin-left: -2.5rem;
}

.timezone-timeline-30 {
  margin-left: -3rem;
}

.timezone-timeline-45 {
  margin-left: -3.5rem;
}

.timezone-timeline-block {
  border: 1px solid black;
  border-right: 0;
  height: 2rem;
  width: 2rem;
}

.timezone-timeline-slot:last-of-type .timezone-timeline-block {
  border-right: 1px solid black;
}

.timezone-offset-0,
.timezone-offset-1,
.timezone-offset-2,
.timezone-offset-3,
.timezone-offset-4,
.timezone-offset-5,
.timezone-offset-6,
.timezone-offset-21,
.timezone-offset-22,
.timezone-offset-23 {
  background: #b8d6f4;
}

.timezone-offset-7,
.timezone-offset-8,
.timezone-offset-17,
.timezone-offset-18,
.timezone-offset-19,
.timezone-offset-20 {
  background: #fed69f;
}

.timezone-offset-9,
.timezone-offset-10,
.timezone-offset-11,
.timezone-offset-12,
.timezone-offset-13,
.timezone-offset-14,
.timezone-offset-15,
.timezone-offset-16 {
  background: #b3e6c8;
}
</style>
