<template>
  <div class="header">
    <MultiPeopleAvatar :people="tanuki.tanukis" />
    <div>{{ localTime }}</div>
    <div>{{ tanuki.TZ }}</div>
  </div>
</template>
<script>
import moment from "moment-timezone";

import { mapGetters } from "vuex";
import MultiPeopleAvatar from "@/components/MultiPeopleAvatar";

export default {
  name: "TimeZoneHeader",
  components: { MultiPeopleAvatar },
  props: {
    tanuki: { type: Object }
  },
  computed: {
    ...mapGetters({
      hoverState: "timezones/hoverState"
    }),
    localTime() {
      return moment.tz(this.hoverState.timestamp, this.tanuki.TZ).format("LT");
    }
  }
};
</script>
<style scoped>
.header {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
}

.header > * {
  margin-right: 0.5rem;
}
</style>
