<template>
  <img
    class="group"
    v-if="images.length === 1"
    :src="images[0].picture"
    :alt="images[0].name"
  />
  <div v-else :class="`group group-${images.length}`">
    <div class="count">{{ people.length }}</div>
    <img
      :key="image.picture"
      v-for="image in images"
      :src="image.picture"
      :alt="image.name"
    />
  </div>
</template>
<script>
export default {
  name: "MultiPeopleAvatar",
  props: {
    people: {
      type: Array
    }
  },
  computed: {
    images() {
      return this.people.slice(0, 4);
    }
  }
};
</script>
<style scoped>
.group {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
}

.group-2 img {
  width: 25px;
}

.group-2 img,
.group-3 img {
  height: 50px;
  object-fit: cover;
}

.group-4 img {
  height: 25px;
  width: 25px;
}

.count {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-shadow: 0 0 5px black, 0 0 5px black;
  font-size: 1.15rem;
  font-weight: 600;
  color: white;
}
</style>
