<template>
  <a :href="`https://gitlab.com/u/${href}`">
    <span class="sr-only"> GitLab </span>
    <svg viewBox="0 0 210 194" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="/icons.svg#tanuki"></use>
    </svg>
  </a>
</template>
<script>
export default {
  name: "GitLabLink",
  props: ["href"]
};
</script>
