<template>
  <div class="card">
    <a class="member-id">
      <!-- TODO: MODAL -->
      <img
        v-lazy="tanuki.picture"
        :alt="tanuki.name"
        width="120"
        height="120"
      />
    </a>

    <h3>{{ tanuki.name }}</h3>
    <div class="body">
      <p class="location">
        {{ location }}
        <!-- TODO MAP interaction: -->
        <!-- https://maps.google.com?q=San%20Francisco,%20CA,%20USA">-->
        <!-- {{ tanuki.location }}-->
      </p>
      <b v-if="roleHTMLAdjusted" class="role" v-html="roleHTMLAdjusted" />
      <div class="assignments" v-if="tanuki.projects">
        <!-- TODO: Proper role mapping -->
        <ul>
          <li
            v-for="(role, project) in tanuki.projects"
            :key="`${role}|${project}|${tanuki.name}`"
          >
            {{ role }} of {{ project }}
          </li>
        </ul>
      </div>
      <div class="expertise" v-if="tanuki.expertise">
        <ul v-html="tanuki.expertise" />
      </div>
      <div class="social">
        <TwitterLink v-if="tanuki.twitter" :twitter="tanuki.twitter" />
        <GitLabLink v-if="tanuki.gitlab" :href="tanuki.gitlab" />
      </div>
    </div>
  </div>
</template>

<script>
import GitLabLink from "@/components/ListView/GitLabLink";
import TwitterLink from "@/components/ListView/TwitterLink";

export default {
  components: { TwitterLink, GitLabLink },
  props: {
    tanuki: {
      type: Object
    },
    index: {
      type: Number
    }
  },
  computed: {
    roleHTMLAdjusted() {
      return (
        this.tanuki.role &&
        this.tanuki.role.replace(
          /(href=['"])\//gi,
          "$1https://about.gitlab.com/"
        )
      );
    },
    handle() {
      return this.tanuki.twitter || this.tanuki.gitlab || this.tanuki.slug;
    },
    location() {
      const res = this.tanuki.locality ? this.tanuki.locality + " · " : "";

      return `${res}${this.tanuki.country}`;
    }
  }
};
</script>
