<template>
  <a :href="`https://twitter.com/${twitter}`">
    <span class="sr-only"> Twitter </span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="75 96 250 203">
      <use xlink:href="/icons.svg#twitter"></use>
    </svg>
  </a>
</template>
<script>
export default {
  name: "TwitterLink",
  props: {
    twitter: {
      type: String
    }
  }
};
</script>
