<template>
  <div>
    <template v-if="loadingState === 'SUCCESS'">
      <search-navigation />
      <nuxt />
    </template>
    <div v-else-if="loadingState === 'LOADING'">
      Loading team data...
    </div>
    <div v-else>
      An Error happened:
      <pre v-if="loadingState && loadingState.message">{{
        loadingState && loadingState.message
      }}</pre>
    </div>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";

import SearchNavigation from "@/components/SearchNavigation.vue";

export default {
  components: {
    SearchNavigation
  },
  mounted() {
    this.loadQueryFromURL();
    this.loadTeamData();
  },
  methods: {
    ...mapActions(["loadQueryFromURL", "loadTeamData"])
  },
  computed: {
    ...mapState(["loadingState"])
  }
};
</script>
<style>
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.sr-only {
  display: none;
}

@media speech {
  .sr-only {
    display: block;
  }
}
</style>
