<template>
  <div class="team-list">
    <lazy-sub-tree
      :visible="visibility[item.slug]"
      v-for="(item, index) in sortedTeam"
      v-bind:key="item.slug"
    >
      <person
        v-show="visibility[item.slug]"
        class="team-member"
        v-bind:tanuki="item"
        :index="index"
      />
    </lazy-sub-tree>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import Person from "@/components/ListView/Person.vue";
import LazySubTree from "@/components/LazySubTree.vue";

export default {
  components: {
    Person,
    LazySubTree
  },
  data() {
    return { renderFull: false };
  },
  computed: {
    ...mapGetters({
      sortedTeam: "sortedTeam",
      visibility: "visibility"
    }),
    membersPerCountry() {
      return this.sortedTeam.reduce((acc, x) => {
        acc[x.code] = acc[x.code] ? acc[x.code] + 1 : 1;
        return acc;
      }, {});
    },
    countryCount() {
      return Object.keys(this.membersPerCountry).length;
    }
  }
};
</script>
<style>
.team-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.team-member {
  min-width: 210px;
  flex: 1 1 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 45px;
  max-width: ;
}

a {
  color: #6b4fbb;
  text-decoration: none;
}

b {
  font-weight: 700;
}

.social {
  margin-top: 15px;
}

.role {
  margin-bottom: 15px;
}

.social svg {
  height: 24px;
  filter: grayscale(60%);
}

.social svg:hover,
.social svg:focus {
  filter: none;
}

.card {
  text-align: center !important;
}

.member-id img {
  border-radius: 50%;
  border: 3px solid #d7d7d7;
  height: 120px;
  filter: grayscale(75%);
}

.member-id img:hover {
  border-color: #6b4fbb;
  filter: grayscale(0);
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

.card a {
  text-decoration: underline;
  color: #999;
}

.card ul {
  list-style: none;
  padding: 0 15px;
  margin: 0;
}

.body {
  font-size: 14px;
  color: #828282;
}
</style>
