<template>
  <div class="time-zone-list" @mouseleave="emptyHover">
    <time-zone-clock />
    <time-zone-scale />
    <time-line-entry
      v-bind:key="timezone.slug"
      v-for="timezone in timezones"
      v-bind:tanuki="timezone"
    />
    <time-zone-scale />
    <time-zone-hover />
    <time-zone-clock />
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import TimeLineEntry from "@/components/TimeZones/TimeLineEntry.vue";
import TimeZoneHover from "@/components/TimeZones/TimeZoneHover.vue";
import TimeZoneScale from "@/components/TimeZones/TimeLineScale.vue";
import TimeZoneClock from "@/components/TimeZones/TimeZoneClock.vue";

export default {
  components: {
    TimeZoneHover,
    TimeZoneScale,
    TimeLineEntry,
    TimeZoneClock
  },
  computed: {
    ...mapGetters({
      timezones: "timezones/groupedByOffset"
    })
  },
  methods: {
    emptyHover() {
      this.$store.commit("timezones/updateHover", {});
    }
  }
};
</script>
<style>
.time-zone-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}
</style>
